<div class="menu-bar">
    <div class="left-menu">
        <div class="select-view">
            <div class="select-view-heading">
                <p>Select View</p>
            </div>
            <div class="linechart-images">
                <!-- <fa-icon [icon]="faLine"></fa-icon> -->
                <img src="../assets/images/line.png" alt="" srcset="">
            </div>
            <div class="interchange">
                <img src="../assets/images/interchange.png" alt="" srcset="">
            </div>
            <div class="pirchart-images">
                <img src="../assets/images/pie.png" alt="" srcset="">
            </div>
        </div>
    </div>
    <div class="heading">
        <h1 class="title">NITI Aayog dashboard</h1>
    </div>
    <div class="right-menu">
        <div class="summary">
            <img src="../assets/images/summary.png" alt="" srcset="">
        </div>
        <div class="forecast">
            <img src="../assets/images/forecast.png" alt="" srcset="">
        </div>
        <div class="map">
            <img src="../assets/images/map.png" alt="" srcset="">
        </div>
        <div class="user">
            <img src="../assets/images/logged_user.png" alt="" srcset="">
        </div>
    </div>
</div>
<div class="side-menu">
    <div class="sidemenutitle">
        <h2>Select Datapoint</h2>
    </div>
    <div class="side-menubar">
        <a href="" (click)="sideBar('seed')" [ngClass]="{'active': selectedItem == 'seed'}">Seed</a>
        <a href="" (click)="sideBar('kahrif')" [ngClass]="{'active': selectedItem == 'kahrif'}">Kharif Crop</a>
        <a href="" (click)="sideBar('fertilizer')" [ngClass]="{'active': selectedItem == 'fertilizer'}">Fertilizer</a>
        <a href="" (click)="sideBar('reservior')" [ngClass]="{'active': selectedItem == 'reservior'}">Reservoir</a>
        <a href="" (click)="sideBar('irrigation')" [ngClass]="{'active': selectedItem == 'irrigation'}">Micro Irrigation</a>
        <a href="" (click)="sideBar('milk')" [ngClass]="{'active': selectedItem == 'milk'}">Milk</a>
        <a href="" (click)="sideBar('eggs')" [ngClass]="{'active': selectedItem == 'eggs'}">Eggs</a>
        <a href="" (click)="sideBar('agriculture')" [ngClass]="{'active': selectedItem == 'agriculture'}">Agri Credit</a>
        <a href="" (click)="sideBar('pulses')" [ngClass]="{'active': selectedItem == 'pulses'}">Pulses</a>
    </div>
</div>
<router-outlet>



</router-outlet>